# Archivos generados por Rust
/target/
Cargo.lock

# Archivos de configuración locales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de respaldo generados por editores
**/*.rs.bk
**/*.swp
**/*.swo

# Archivos de caché de IDEs
.idea/
.vscode/
*.iml
.DS_Store

# Archivos de logs
*.log
logs/

# Directorios de dependencias
node_modules/

# Archivos compilados
**/*.rs.bk
*.pdb
*.exe
*.dll
*.so
*.dylib

# Archivos específicos de sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
tmp/
temp/